

<center><h1> Everyone post is here hor <h1></center>

<div class = "well posts" >
  <div align="center">

    <%= will_paginate @posts %>
  </div>
  ​
  <%= render 'article', obj: @posts %>
  ​
  <div align="center">
    <%= will_paginate @posts %>
  </div>
</div>
